<div class="control-icon" data-action="lights-hud-ate-selector" >
    <img src="modules/lights-hud-ate/assets/lightbulb-regular.svg" width="36" height="36" title="{{localize 'lights-hud-ate.windows.art-select.title' }}" />

    <div class="lights-hud-ate-selector-wrap {{#unless imageDisplay}}list{{/unless}}">
    {{!-- {{#if imagesParsed}} --}}
    {{#each imagesParsed as |image|}}
        {{#if image.type}}
            <button oncontextmenu="javascript:return false;" class="lights-hud-ate-button-select control-icon {{#unless ../imageDisplay}}list{{/unless}}
                {{#if image.applied}}
                    {{#if image.passive}}
                        {{#if image.applied}}
                        lights-hud-ate-button-disabled-passive active
                        {{else}}
                        lights-hud-ate-button-disabled-passive
                        {{/if}}
                    {{else}}
                        {{#if image.applied}}
                        lights-hud-ate-button-disabled active
                        {{else}}
                        lights-hud-ate-button-disabled
                        {{/if}}
                    {{/if}}
                {{/if}}" >

                {{#if ../imageDisplay}}
                    {{#if image.img}}
                        <img class="lights-hud-ate-button-image" src="{{image.route}}"
                            alt="{{image.name}}"
                            data-token-id="{{../tokenId}}"
                            data-actor-id="{{../actorId}}"
                            data-name="{{image.route}}"
                            data-item-id="{{image.itemid}}"
                            data-effect-id="{{image.effectid}}"
                            data-effect-name="{{image.effectname}}"
                            data-applied="{{image.applied}}"
                            data-disabled="{{image.disabled}}"
                            data-suppressed="{{image.suppressed}}"
                            data-temporary="{{image.temporary}}"
                            data-passive="{{image.passive}}"
                            style="opacity:{{../imageOpacity}};">
                        </img>
                    {{/if}}
                    {{#if image.vid}}
                        <video class="lights-hud-ate-button-image" src="{{image.route}}"
                            alt="{{image.name}}"
                            data-token-id="{{../tokenId}}"
                            data-actor-id="{{../actorId}}"
                            data-name="{{image.route}}"
                            data-item-id="{{image.itemid}}"
                            data-effect-id="{{image.effectid}}"
                            data-effect-name="{{image.effectname}}"
                            data-applied="{{image.applied}}"
                            data-disabled="{{image.disabled}}"
                            data-suppressed="{{image.suppressed}}"
                            data-temporary="{{image.temporary}}"
                            data-passive="{{image.passive}}"
                            style="opacity:{{../imageOpacity}};" autoplay loop>
                        </video>
                    {{/if}}
                    {{#unless image.type}}
                        <span class="lights-hud-ate-button-image"
                            alt="{{image.label}}"
                            data-token-id="{{../tokenId}}"
                            data-actor-id="{{../actorId}}"
                            data-name="{{image.route}}"
                            data-item-id="{{image.itemid}}"
                            data-effect-id="{{image.effectid}}"
                            data-effect-name="{{image.effectname}}"
                            data-applied="{{image.applied}}"
                            data-disabled="{{image.disabled}}"
                            data-suppressed="{{image.suppressed}}"
                            data-temporary="{{image.temporary}}"
                            data-passive="{{image.passive}}">{{image.path}}</span>
                    {{/unless}}

                    {{#if image.suppressed}}
                    <i class="lights-hud-ate-button-icon fas fa-exclamation-triangle"></i>
                    {{else if image.passive}}
                    <i class="lights-hud-ate-button-icon fas fa-eye"></i>
                    {{/if}}
                    {{#if image.applied}}
                    <i class="lights-hud-ate-button-icon fas fa-lightbulb"></i>
                    {{else}}
                    <i class="lights-hud-ate-button-icon far fa-lightbulb"></i>
                    {{/if}}
                {{else}}
                    <span class="lights-hud-ate-button-image-text"
                        alt="{{image.label}}"
                        data-token-id="{{../tokenId}}"
                        data-actor-id="{{../actorId}}"
                        data-name="{{image.route}}"
                        data-item-id="{{image.itemid}}"
                        data-effect-id="{{image.effectid}}"
                        data-effect-name="{{image.effectname}}"
                        data-applied="{{image.applied}}"
                        data-disabled="{{image.disabled}}"
                        data-suppressed="{{image.suppressed}}"
                        data-temporary="{{image.temporary}}"
                        data-passive="{{image.passive}}">{{image.name}}</span>
                    {{#if image.suppressed}}
                    <i class="lights-hud-ate-button-icon-text fas fa-exclamation-triangle"></i>
                    {{else if image.passive}}
                    <i class="lights-hud-ate-button-icon-text fas fa-eye"></i>
                    {{/if}}
                    {{#if image.applied}}
                    <i class="lights-hud-ate-button-icon-text fas fa-lightbulb"></i>
                    {{else}}
                    <i class="lights-hud-ate-button-icon-text far fa-lightbulb"></i>
                    {{/if}}
                {{/if}}
            </button>
        {{/if}}
    {{/each}}
    {{!-- {{else}}
    <div>
        <span data-name="">{{localize "lights-hud-ate.windows.art-select.no-art-found"}}</span>
    </div>
    {{/if}} --}}
    <button class="lights-hud-ate-button-macro-preset"
        data-token-id="{{tokenId}}"
        data-actor-id="{{actorId}}">{{localize "lights-hud-ate.windows.art-select.call-macro-preset"}}</button>
    <button class="lights-hud-ate-button-macro-custom"
        data-token-id="{{tokenId}}"
        data-actor-id="{{actorId}}">{{localize "lights-hud-ate.windows.art-select.call-macro-custom"}}</button>
    </div>

</div>

