<div class="control-icon" data-action="lights-hud-ate-selector" >
    <img src="modules/lights-hud-ate/assets/token-icon.svg" width="36" height="36" title="{{localize 'lights-hud-ate.windows.art-select.title' }}" />
    {{#if imagesParsed}}
    <div class="lights-hud-ate-selector-wrap {{#unless imageDisplay}}list{{/unless}}">
        {{#each imagesParsed as |image|}}
            {{#if image.type}}
                <button class="lights-hud-ate-button-select control-icon {{#unless ../imageDisplay}}list{{/unless}} {{#if image.used}}lights-hud-ate-button-disabled active{{/if}}" >
                    {{#if ../imageDisplay}}
                        {{#if image.img}}
                            <img class="lights-hud-ate-button-image" src="{{image.route}}" alt="{{image.name}}" data-name="{{image.route}}" data-item-id="{{image.id}}" style="opacity:{{../imageOpacity}};"/>
                        {{/if}}
                        {{#if image.vid}}
                            <video class="lights-hud-ate-button-image" src="{{image.route}}" alt="{{image.name}}" data-name="{{image.route}}" data-item-id="{{image.id}}" style="opacity:{{../imageOpacity}};" autoplay loop/>
                        {{/if}}
                        {{#unless image.type}}
                            <span class="lights-hud-ate-button-image" data-item-id="{{image.id}}" alt="{{image.label}}">{{image.path}}</span>
                        {{/unless}}
                    {{else}}
                        <span data-name="{{image.route}}">{{image.name}}</span>
                    {{/if}}
                </button>
            {{/if}}
        {{/each}}
    </div>
    {{else}}
    <div>
        <p>{{localize "lights-hud-ate.windows.art-select.no-art-found"}}</p>
    </div>
    {{/if}}
</div>

